# Directory C++ temporary files
.build

.DS_Store
.git

# Files of cmake
CMakeScripts
CMakeFiles
cmake_modules
Makefile
CMakeCache.txt
cmake_install.cmake
_deps

#ignore C++ files
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Executed files
qHoliday
*.out
